//variables
$purple: #814096;
$pink: #f83292;
$gradient: linear-gradient(90deg, $purple, $pink);
$box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
$border: 0.1rem solid rgba(0, 0, 0, 0.1);

//functions and mixins
@mixin title-text($size) {
    color: #333;
    font-size: $size;
}
@mixin grap-text($size) {
    color: #666;
    font-size: $size;
}
@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}
@mixin flex($val) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    .box{
        flex: 1 1 $val;
    }
}
