@import "config";

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../public/images/home-bg-img.png) no-repeat;
    background-position: center;
    background-size: cover;

    .image{

        img{
            width: 35vw;
            animation: float 3s infinite linear;
        }
    }

    .content{

        h3{
            @include title-text(5.5rem);
            text-transform: uppercase;

            span{
                color: $pink;
                text-transform: uppercase;
            }
        }

        p{
            @include grap-text(1.7rem);
            padding: 1rem 0;
        }
    }
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.5rem);
    }
}


.features{
    
    .box-container{
        @include flex(30rem);

        .box{
            background-color: #fff;
            border-radius: 0.5rem;
            box-shadow: $box-shadow;
            border: $border;
            padding: 3rem 2rem;
            text-align: center;
            transition: 0.2s linear;

            img{
                height: 15rem;
            }

            h3{
                @include title-text(2rem);
                padding-top: 1rem;
            }

            p{
                @include grap-text(1.3rem);
                padding: 1rem 0;
            }
        }
    }
}

.about{
    background: url(../../public/images/about-bg.png) no-repeat;
    background-position: center;
    background-size: cover;

    .column{
        @include grid(40rem);

        .image{
            img{
                width: 100%;
            }
        }

        .content{
            h3{
                @include title-text(3rem);
            }
            p{
                @include grap-text(1.5rem);
                padding: 1rem 0;
            }
            .buttons .btn:last-child{
                margin-left: 2rem;
            }
        }
    }
}

.newsletter{
    background: url(../../public/images/subscribe-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 5rem 1rem;

    h3{
        color: #fff;
        text-transform: uppercase;
        font-size: 5rem;
    }

    p{
        color: #fff;
        font-size: 1.6rem;
        width: 70%;
        margin: 2rem auto;
    }

    form{
        border: 0.2rem solid #fff;
        display: flex;
        max-width: 70rem;
        margin: 2rem auto;
        border-radius: 5rem;
        padding: .5rem;
        height: 5.5rem;
        
        input{
            border-radius: 5rem;

            &:first-child{
                width: 100%;
                background: none;
                color: #fff;
                padding: 0 2rem;
                font-size: 1.7rem;
                text-transform: none;

                &::placeholder{
                    color: #eee;
                    text-transform: capitalize;
                }
            }

            &:last-child{
                padding: 0 2rem;
                cursor: pointer;
                font-size: 1.7rem;

                &:hover{
                    color: $pink;
                }
            }
        }
    }
}










@media (max-width: 768px){
    .home{
        flex-direction: column-reverse;

        .image img{
            width: 100%;
        }

        .content{
            h3{
                @include title-text(3.5rem);
            }
            p{
                @include grap-text(1.5rem);
            }
        }
    }

    .about{
        background-position: right;
    }
}

@media (max-width: 450px){
    .about .column .content .buttons{
        .btn{
            width: 100%;
            text-align: center;

            &:last-child{
                margin: 1rem 0;
            }
        }
    }
}