@import "config";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  scroll-behavior: smooth;
//   transition: all 0.2s linear;
}
*::selection{
    background-color: $pink;
    color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
    background:#f9f9f9;
}
section {
  padding: 7.5rem 9% 2rem 9%;
  min-height: 100vh;
}

//utilities
.heading{
    background: $gradient;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 5rem;
    background: $gradient;
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: $box-shadow;
    transition: transform 0.2s ease;

    &:hover{
    transform: scale(1.09);
    }
}

//media queries
@media (max-width: 1200px) {
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 7.5rem 3% 2rem 3%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
